# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

SYR/Operation_Vigilant_Shield_M9_Sanitised_V2.miz
SYR/Operation_Vigilant_Shield_M7_RC2.miz
SYR\Operation_Vigilant_Shield_M2_intel.miz
PEG/Op_Resolute_Assertion_M3_rc_3_simop.miz
